@model IEnumerable<APPR___TASK_1__USE_.Models.CashDonations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:white">Cash Donations</h1>
<!--(Create Edit View in ASP.NET MVC, 2022)-->
<!--(How to add CSS, 2022)-->

<p>
    <a style="color:white" asp-action="Create">Click to add a cash donation</a>
</p>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Annonymys)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Annonymys)
                </td>
                <td>
                    <a style="color:black" asp-action="Edit" asp-route-id="@item.user">Edit</a> |
                    <a style="color:black" asp-action="Details" asp-route-id="@item.user">Details</a> |
                    <a style="color:black" asp-action="Delete" asp-route-id="@item.user">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
